<router-outlet>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">
          <p id="Title">Prueba de Selección</p>
        </a>
          <button id="btndata" type="button" class="btn btn-outline-light" [routerLink]="['component1']" routerLinkActive="router-link-active">Item 1</button>
          <button id="btndata" type="button" class="btn btn-outline-light" [routerLink]="['component2']" routerLinkActive="router-link-active">Item 2</button>
      </nav>
</router-outlet>