<div>
    <div>
        <ngx-loading-bar [height]= "'10px'" [includeSpinner]= "false"></ngx-loading-bar>
    </div>
    <h4>Item N°1: Arreglo de Números</h4>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="getnumbers()">Cargar Datos</button>
        </div>
    </div>
    <br>
    <div class="col-md-6">
        <a>Datos desde endpoint.</a>
        <input class= "form-control" type= "text" readonly placeholder= {{this.numbers}}>
        <br>
        <a>Datos ordenados de menor a mayor.</a>
        <input class= "form-control" type= "text" readonly placeholder= {{sort(this.numbers)}}>
    </div>
    <br>
    <ng-container>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Indice</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Cantiad</th>
                        <th scope="col">Primero</th>
                        <th scope="col">Ultimo</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor= 'let item of numbers; index as ind'>
                        <tr [ngStyle]="{'background-color': numberquantity(numbers, item) === 1 ? 'yellow' : 
                        (numberquantity(numbers, item) >= 2 ? 'green' : 'gray') }" *ngIf="!isrepeated(numbers, item, ind)"> 
                            <th scope="row">{{ind}}</th>
                            <td>{{item}}</td>
                            <td>{{numberquantity(numbers, item)}}</td>
                            <td>{{getfirst(numbers, item)}}</td>
                            <td>{{getlast(numbers, item)}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>