<div>
    <h4>Item N°1: Arreglo de Números</h4>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)= 'getnumbers()'>Cargar Datos</button>
    <input class= "form-control" type= "text" readonly placeholder= {{sort(this.numbers)}}>
    <ng-container>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Indice</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Cantiad</th>
                        <th scope="col">Primero</th>
                        <th scope="col">Ultimo</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor= 'let item of numbers; index as ind'>
                        <tr>
                            <th scope="row">{{ind+1}}</th>
                            <td>{{item}}</td>
                            <td>{{numberquantity(numbers, item)}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>