<div>
    <h4>Item N°2: Contador de caracteres</h4>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)= 'gettext()'>Cargar Datos</button>
        </div>
    </div>
    <ng-container>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th *ngFor= 'let letter of letters'>{{letter}}</th>
                        <th scope="col">Suma numéricos contenidos</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor= 'let paragraph of paragraphs; index as ind'>
                        <tr>
                            <th scope="col">{{ind}}</th> 
                            <td *ngFor= 'let letter of letters'>{{countletters(ind, letter)}}</td>
                            <th>{{sumnumbers((findnumbers(ind)))}}</th> 
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>